{{ template "site/base/head" .}}
<section class="view">

        <div class="row">

            <div class="col-md-12">

                <div class="view">
                    <img src="{{.BannerURL}}" class="img-fluid"
                        style="height:50vh; width:100%" alt="smaple image">
                    <div class="mask flex-center hm-gradient">
                    </div>
                </div>

            </div>

        </div>

    </section>

    <section class="container">
        <!-- Section heading -->
        <div class="text-center">
            <h2 class="h1-responsive font-weight-bold my-5">Products</h2>
            <!-- Section description -->
            <p class="grey-text w-responsive mx-auto mb-5">{{.Description}}</p>
        </div>

        <div class="row text-center">
		{{ range .Items }}
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                <div class="view overlay rounded z-depth-1">
                    <img src="{{.ImageURL}}" class="img-fluid"
                        alt="Sample project image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body pb-0">
                    <h4 class="font-weight-bold my-3" id="item-1">{{.Name}}</h4>
                    <p class="grey-text">{{.Description}}
                    <h5 class="font-weight-bold">Price: {{.Price}}</h5>
                    <button class="btn btn-black btn-sm" onclick=" additem('{{.ID}}',{{.Price}}) ">Buy</button>
                </div>
            </div>
			{{end}}
			</div>
    </section>
{{ template "site/base/footer" .}}
