{{ template "base/head" .}}
<div class="container">
<h1 class="title">ShopSheet</h1>
<p>ShopSheet is a website creation service which allows you
to create an ecommerce website based on a simple spreadsheet
in seconds!</p>
<p>Download the shop template: <a href="shop-template.ots"><code>shop-template.ots</code></a></p>

<a href="/new" class="btn">Create a new site</a>
</div>
{{ template "base/footer" .}}
